WEBHOOK_URL=http://localhost:3000/webhook

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=your_password
PGDATABASE=postgres
PGPOOL_MAX=10
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123