WEBHOOK_URL=http://localhost:3000/webhook

PGHOST=localhost
PGPORT=5432
PGUSER=ardianryan
PGPASSWORD=your_password
PGDATABASE=hono_wa
PGPOOL_MAX=10
DATABASE_URL=postgres://postgres:postgres@localhost:5432/honowa

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123