PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://your_username:your_password@localhost:5432/hono_wa

PGHOST=localhost
PGPORT=5432
PGDATABASE=hono_wa
PGUSER=your_username
PGPASSWORD=your_password
PGPOOL_MAX=10

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123

WEBHOOK_URL=http://localhost:3040/webhook
WEBHOOK_SECRET=your_secret_value

GEMINI_API_KEY=bbbb
OPENAI_API_KEY=aaaa
ANTHROPIC_API_KEY=cccc
